*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:border-box;
}

body {
    background: #454545;
    color: #fff;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
}

.left, .right {
    flex-basis: 50%;
    padding: 10px;
}

.fa-html5:before {
    content: "\f13b";
    color: red;
}

.fa-css3-alt:before {
    content: "\f38b";
    color: #3986f1;
}

.fa-square-js:before {
    content: "\f3b9";
    color: #f3e528;
}

.fa-play:before {
    content: "\f04b";
    color: #65d8c4;
}

textarea {
    width: 100%;
    height: 28%;
    color: #fff;
    background: #1f1f1f;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
}

iframe {
    width: 100%;
    height: 95%;
    background: #fff;
    border: 0;
    outline: 0;
 }

 label i {
    margin-right: 10px;
    margin-left: 10px;
 }

 label {
    display: flex;
    align-items: center;
    background: #000;
    height: 30px;
 }